USE [TESTENET]
GO
/****** Object:  Table [dbo].[AUDIENCIA]    Script Date: 06/04/2021 13:45:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUDIENCIA](
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ID_EMISSORA_AUDIENCIA] [numeric](18, 0) NULL,
	[PONTOS_AUDIENCIA] [numeric](18, 2) NULL,
	[DATA_HORA_AUDIENCIA] [datetime] NULL,
	[DELETED] [varchar](1) NULL,
	[DATA_CAD] [datetime] NULL,
 CONSTRAINT [PK_AUDIENCIA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMISSORAS]    Script Date: 06/04/2021 13:45:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMISSORAS](
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[NOME] [varchar](100) NULL,
	[DELETED] [varchar](1) NULL,
	[DATA_CAD] [datetime] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AUDIENCIA] ADD  CONSTRAINT [DF_AUDIENCIA_DELETED]  DEFAULT ('N') FOR [DELETED]
GO
ALTER TABLE [dbo].[AUDIENCIA] ADD  CONSTRAINT [DF_AUDIENCIA_DATA_CAD]  DEFAULT (getdate()) FOR [DATA_CAD]
GO
ALTER TABLE [dbo].[EMISSORAS] ADD  CONSTRAINT [DF_EMISSORAS_DELETED]  DEFAULT ('N') FOR [DELETED]
GO
ALTER TABLE [dbo].[EMISSORAS] ADD  CONSTRAINT [DF_EMISSORAS_DATA_CAD]  DEFAULT (getdate()) FOR [DATA_CAD]
GO
/****** Object:  StoredProcedure [dbo].[SPR_CAPTURA_CAMPO_TABELA]    Script Date: 06/04/2021 13:45:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[SPR_CAPTURA_CAMPO_TABELA] 
		@OPERACAO AS NUMERIC(18,0),
		@TABELA AS VARCHAR(100),		
		@CAMPOSELECAO AS VARCHAR(100),
		@CAMPO AS VARCHAR(8000),
		@CODIGO AS VARCHAR(100)

AS
------------------------------------------------
--  OPERAÇÃO = 0 --> NUMERIC
--  OPERAÇÃO = 1 --> VARCHAR
--  OPERAÇÃO = 2 --> DATA
------------------------------------------------
DECLARE @SQL VARCHAR(8000)

SET NOCOUNT ON
IF @OPERACAO=0
BEGIN
	SET @CODIGO=CAST(@CODIGO AS NUMERIC(18,0))
	SET @SQL='SELECT  
		'+@CAMPOSELECAO+'
	FROM '+
		 + @TABELA + '
	WHERE '
		+ @CAMPO+'='+@CODIGO+' AND DELETED=''N'''
END
IF @OPERACAO=1
BEGIN
	SET @CODIGO=CAST(@CODIGO AS VARCHAR(100))
	SET @SQL='SELECT  
		'+@CAMPOSELECAO+'
	FROM '+
		 + @TABELA + '
	WHERE '
		+ @CAMPO+'='''+@CODIGO+''' AND DELETED=''N''' 
END

IF @OPERACAO=2
BEGIN
	--SET @CODIGO=CAST(@CODIGO AS DATETIME)
	SET @SQL='SELECT  
		'+@CAMPOSELECAO+'
	FROM '+
		 + @TABELA + '
	WHERE '
		+ @CAMPO+'='''+@CODIGO+''''
END

------------------------------------------------
--  ADICIONADO PARA 4PAGAR UM ITEM ESPECIFICO ---
------------------------------------------------
IF @OPERACAO=3
BEGIN
	SET @CODIGO=CAST(@CODIGO AS DATETIME)
	SET @SQL='SELECT  TOP 1
		'+@CAMPOSELECAO+'
	FROM '+
		 + @TABELA + '
	WHERE 
		DELETED=''N'''
END

------------------------------------------------
--  ADICIONADO PARA 4PAGAR UM ITEM ESPECIFICO ---
------------------------------------------------
IF @OPERACAO=4
BEGIN
	SET @CODIGO=CAST(@CODIGO AS VARCHAR(100))
	SET @SQL='SELECT TOP 1 
		'+@CAMPOSELECAO+'
	FROM '+
		 + @TABELA + '
	WHERE '
		+ @CAMPO+'='''+@CODIGO+''' 
		AND DELETED=''N'' ORDER BY ' + @CODIGO + 'DESC '
END


IF @OPERACAO=5
BEGIN
	SET @CODIGO=CAST(@CODIGO AS VARCHAR(100))
	SET @SQL='SELECT TOP 1 
		'+@CAMPOSELECAO+'
	FROM '+
		 + @TABELA + '
	WHERE '
		+ @CAMPO+ ' AND Deleted=''N''' 
END

IF @OPERACAO=6
BEGIN
	SET @CODIGO=CAST(@CODIGO AS VARCHAR(100))
	SET @SQL='SELECT MAX( 
		'+@CAMPOSELECAO+')
	FROM '+
		 + @TABELA  

END
----------------------------------------------------------------
--			USADO PARA CONTAR QUANTOS REGISTROS EXISTEM	    ----
----------------------------------------------------------------
IF @OPERACAO=7
BEGIN
	IF @CAMPOSELECAO<>'ID_PESAGEM'
	BEGIN
		SET @CODIGO=CAST(@CODIGO AS VARCHAR(100))
		SET @SQL='SELECT TOP 1 
			'+@CAMPOSELECAO+'
		FROM '+
			 + @TABELA 
		+ '
		WHERE '
			+ @CAMPO+ ' AND DELETED=''N''' 
	END
	ELSE
	BEGIN
		SET @CODIGO=CAST(@CODIGO AS VARCHAR(100))
		SET @SQL='SELECT TOP 1 
			'+@CAMPOSELECAO+'
		FROM '+
			 + @TABELA 
		+ '
		WHERE '
			+ @CAMPO+ ' AND DELETED=''N'' 
		ORDER
		BY ID_PESAGEM DESC '
				
	END
		
		
END		
IF @OPERACAO=8
	BEGIN
	IF @CAMPOSELECAO='ID_PESAGEM'
		BEGIN
		SET @CODIGO=CAST(@CODIGO AS VARCHAR(100))
		SET @SQL='SELECT TOP 1 
			'+@CAMPOSELECAO+'
		FROM '+
			 + @TABELA 
		+ '
		WHERE '
			+ @CAMPO+ ' AND DELETED=''N''  
			ORDER
		BY ID_PESAGEM DESC '
	END
	ELSE
	BEGIN	
		SET @CODIGO=CAST(@CODIGO AS VARCHAR(100))
		SET @SQL='SELECT TOP 1 
			'+@CAMPOSELECAO+'
		FROM '+
			 + @TABELA 
		+ '
		WHERE '
			+ @CAMPO+ ' AND DELETED=''0'''  
	END
		
END		

IF @OPERACAO=9
BEGIN
	SET @CODIGO=CAST(@CODIGO AS VARCHAR(100))
	SET @SQL='SELECT MAX(  
		'+@CAMPOSELECAO+')
	FROM '+
		 + @TABELA + '
	WHERE '
		+ @CAMPO+'='''+@CODIGO+''' AND DELETED=''N'''
END


IF @OPERACAO=10
BEGIN
	SET @CODIGO=CAST(@CODIGO AS VARCHAR(100))
	SET @SQL='SELECT MAX( 
		'+@CAMPOSELECAO+')+1
	FROM '+
		 + @TABELA  + '  
	WHERE '
		+ @CAMPO+ ' AND DELETED=''0'''  

END

IF @OPERACAO=11
BEGIN
	SET @CODIGO=CAST(@CODIGO AS VARCHAR(100))
	SET @SQL='SELECT MAX( 
		'+@CAMPOSELECAO+')+1
	FROM '+
		 + @TABELA  + '  
	WHERE  DELETED=''0'''  

END


IF @OPERACAO=12
	BEGIN
		SET @CODIGO=CAST(@CODIGO AS VARCHAR(100))
		SET @SQL='SELECT TOP 1 
			'+@CAMPOSELECAO+'
		FROM '+
			 + @TABELA 
		+ '
		WHERE '
			+ @CAMPO+ '  
			ORDER
		BY ID_PESAGEM DESC '
		
END		

IF @OPERACAO=13
BEGIN
	SELECT MAX(ID_PESAGEM) FROM PESAGENS
	WHERE LEN(ID_PESAGEM)<9 AND BALANCA_E=@CODIGO
END

IF @OPERACAO=14

	BEGIN	
		SET @CODIGO=CAST(@CODIGO AS VARCHAR(100))
		SET @SQL='SELECT TOP 1 
			'+@CAMPOSELECAO+'
		FROM '+
			 + @TABELA 
		+ '
		WHERE '
			+ @CAMPO+ ' AND DELETED=''0'' ORDER BY ID_HISTORICOTARA DESC'  
	
	END
-- SOMETE PARA CAPTURA DE PESO MAXIMO DE EIXOS
IF @OPERACAO=15
BEGIN

	SET @SQL='SELECT SUM(PESO_MAXIMO)*0.03+SUM(PESO_MAXIMO)
	FROM VEICULO_EIXO WHERE '+ @CAMPO +''  
	
	
END
IF @OPERACAO=16
BEGIN
	SET @CODIGO=CAST(@CODIGO AS VARCHAR(100))
	SET @SQL='SELECT TOP 1 
		'+@CAMPOSELECAO+'
	FROM '+
		 + @TABELA + '
	WHERE '
		+ @CAMPO+ '  ORDER BY ID_HISTORICOTARA DESC' 
END

IF @OPERACAO=17
BEGIN
	SET @CODIGO=CAST(@CODIGO AS VARCHAR(100))
	SET @SQL='SELECT  
		'+@CAMPOSELECAO+'
	FROM '+
		 + @TABELA + '
	WHERE '
		+ @CODIGO+ '' 
END

-- CRIADA SOMENTE PARA CAPTURAR CAMPOS SEM CAMPO DELETED CRIADO --
IF @OPERACAO=18
BEGIN
	SET @CODIGO=CAST(@CODIGO AS VARCHAR(100))
	SET @SQL='SELECT TOP 1  
		'+@CAMPOSELECAO+'
	FROM '+
		 + @TABELA + '
	WHERE '
		+ @CAMPO+''
END

IF @OPERACAO=19
	BEGIN
	IF @CAMPOSELECAO='ID_PESAGEM'
		BEGIN
		SET @CODIGO=CAST(@CODIGO AS VARCHAR(100))
		SET @SQL='SELECT TOP 1 
			'+@CAMPOSELECAO+'
		FROM '+
			 + @TABELA 
		+ '
		WHERE '
			+ @CAMPO+ '  
			ORDER
		BY ID_PESAGEM DESC '
	END
	ELSE
	BEGIN	
		SET @CODIGO=CAST(@CODIGO AS VARCHAR(100))
		SET @SQL='SELECT TOP 1 
			'+@CAMPOSELECAO+'
		FROM '+
			 + @TABELA 
		+ '
		WHERE '
			+ @CAMPO+ ' AND DELETED=''0'''  
	END
		
END		

IF @OPERACAO=20
	BEGIN

SET @SQL='SELECT TOP 1 
			'+@CAMPOSELECAO+'
		FROM '+
			 + @TABELA 
	  
END

IF @OPERACAO=21
BEGIN
	SET @CODIGO=CAST(@CODIGO AS VARCHAR(100))
	SET @SQL='SELECT TOP 1 
		'+@CAMPOSELECAO+'
	FROM '+
		 + @TABELA + '
	WHERE '
		+ @CAMPO+ ' AND Deleted=''N'' ORDER BY ID_PESAGEM DESC ' 
END

IF @OPERACAO=22
BEGIN
	--SET @CODIGO=CAST(@CODIGO AS DATETIME)
	SET @SQL='SELECT  
		'+@CAMPOSELECAO+'
	FROM '+
		 + @TABELA + '
	WHERE '
		+ @CAMPO+'='''+@CODIGO+''' ORDER BY ID_PESAGEM DESC'
END

IF @OPERACAO=23
BEGIN
	SET @CODIGO=CAST(@CODIGO AS VARCHAR(100))
	SET @SQL='SELECT TOP 1 
		'+@CAMPOSELECAO+'
	FROM '+
		 + @TABELA + '
	WHERE '
		+ @CAMPO   
END

IF @OPERACAO=24
BEGIN
	SET @CODIGO=CAST(@CODIGO AS VARCHAR(100))
	SET @SQL='SELECT TOP 1 
		'+@CAMPOSELECAO+'
	FROM '+
		 + @TABELA + '
	WHERE '
		+ @CAMPO+ '' 
END

PRINT @SQL

BEGIN TRANSACTION
	EXEC(@SQL)
COMMIT TRANSACTION
SET NOCOUNT OFF









SET NOCOUNT OFF


GO
/****** Object:  StoredProcedure [dbo].[SPR_CARREGA_COMBO]    Script Date: 06/04/2021 13:45:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
create PROCEDURE [dbo].[SPR_CARREGA_COMBO] 
		@OPERACAO AS NUMERIC(18,0),
		@TABELA AS VARCHAR(100),	
		@CAMPOSELECAO AS VARCHAR(8000),
		@ORDEM AS VARCHAR(8000)

AS
DECLARE @SQL VARCHAR(8000)
SET NOCOUNT ON

DECLARE @ID  NUMERIC(18,0) 
IF @OPERACAO=1 -- NOVO REGISTRO
BEGIN
	SET @SQL='
	SELECT '+@CAMPOSELECAO+' FROM ' + @TABELA+ ' WHERE DELETED=''N''' 
	
END


IF @OPERACAO=2 -- NOVO REGISTRO
BEGIN
	SET @SQL='
	SELECT '+@CAMPOSELECAO+' FROM ' + @TABELA+ ' WHERE DELETED=''N''' 
	
END


IF @OPERACAO=3 -- NOVO REGISTRO
BEGIN
	SET @SQL='
	SELECT '+@CAMPOSELECAO+' FROM ' + @TABELA+ ' WHERE DELETED=''N'''+ @ORDEM 
	
END

IF @OPERACAO=4 -- NOVO REGISTRO
BEGIN
	SET @SQL='
	SELECT '+@CAMPOSELECAO+' FROM ' + @TABELA+ ' WHERE '+@ORDEM + ' AND DELETED=''N'''

END







BEGIN TRANSACTION
	EXEC(@SQL)
COMMIT
SET NOCOUNT OFF

GO
/****** Object:  StoredProcedure [dbo].[SPR_GRAVA_REGISTRO]    Script Date: 06/04/2021 13:45:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[SPR_GRAVA_REGISTRO] 
		@OPERACAO AS NUMERIC(18,0),
		@TABELA AS VARCHAR(100),	
		@CAMPOID AS VARCHAR(100),
		@CAMPOSGRAVACAO AS VARCHAR(8000),
		@VALORESCAMPOS AS VARCHAR(8000),
		@CODIGO AS VARCHAR(100)

AS
DECLARE @SQL VARCHAR(8000)
------------------------------------------------
--		OPERAÇÃO = 1 --> NOVO REGISTRO		  --
--		OPERAÇÃO = 2 --> ALTERACAO REGISTRO	  --
------------------------------------------------
SET NOCOUNT ON

DECLARE @ID  NUMERIC(18,0) 
DECLARE @CANCELAMENTO VARCHAR(10)
IF @OPERACAO=1 -- NOVO REGISTRO
BEGIN
	SET @SQL='
	INSERT INTO ' + @TABELA +
	'('+@CAMPOSGRAVACAO+')'
		+
		'VALUES 
	('+@VALORESCAMPOS+')'
END
SET @CANCELAMENTO='FLAG=''C'''
IF @OPERACAO=2 -- ALTERAÇÃO
BEGIN
	IF @CAMPOSGRAVACAO=@CANCELAMENTO
	BEGIN 
		SET @SQL='
		UPDATE ' + @TABELA +
		' SET ' + @CAMPOSGRAVACAO +
		' WHERE ' + @CAMPOID+'='+@CODIGO+ '' 
		
	END
	ELSE
	BEGIN
	SET @SQL='
		UPDATE ' + @TABELA +
		' SET ' + @CAMPOSGRAVACAO +
		' WHERE ' + @CAMPOID+'='+@CODIGO+''
	END

END

IF @OPERACAO=3 -- ALTERAÇÃO
BEGIN
		SET @SQL='
		UPDATE ' + @TABELA +
		' SET ' + @CAMPOSGRAVACAO +
		' WHERE ' +@CODIGO+ '' 
	
END

IF @OPERACAO=4 -- GRAVAÇÃO DO REGISTRO DE PESAGEM
BEGIN
	SET @SQL='
	INSERT INTO ' + @TABELA +
	'('+@CAMPOSGRAVACAO+')'
		+
		'VALUES 
	('+@CODIGO+@VALORESCAMPOS+')'
	
END

IF @OPERACAO=5 -- ALTERAÇÃO
BEGIN
		SET @SQL='
		UPDATE ' + @TABELA +
		' SET ' + @CAMPOSGRAVACAO +''
	
END

IF @OPERACAO=6-- APAGAR FISICAMENTE
BEGIN
		SET @SQL='DELETE FROM ' + @TABELA +' WHERE ' + @CAMPOID+'='+@CODIGO+''
END



PRINT @SQL

BEGIN TRANSACTION
	EXEC(@SQL)
COMMIT
SET NOCOUNT OFF


GO
/****** Object:  StoredProcedure [dbo].[SPR_PESQUISA_CAMPOS_TABELA]    Script Date: 06/04/2021 13:45:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[SPR_PESQUISA_CAMPOS_TABELA] 
		@OPERACAO AS NUMERIC(18,0),
		@TABELA AS VARCHAR(8000),		
		@CAMPOSELECAO AS VARCHAR(8000),
		@CAMPO AS VARCHAR(100),
		@CODIGO AS VARCHAR(500)

AS
------------------------------------------------
--  OPERAÇÃO = 0 --> NUMERIC
--  OPERAÇÃO = 1 --> VARCHAR
--  OPERAÇÃO = 2 --> DATA
--  OPERAÇÃO = 9 --> TODOS OS REGISTROS
------------------------------------------------
DECLARE @SQL VARCHAR(8000)

SET NOCOUNT ON

IF @OPERACAO=0
BEGIN
	SET @CODIGO=CAST(@CODIGO AS NUMERIC(18,0))
	SET @SQL='SELECT  
		'+@CAMPOSELECAO+'
	FROM '+
		 + @TABELA + '
	WHERE '
		+ @CAMPO+'='+@CODIGO+' AND DELETED=''N'''
	
END

IF @OPERACAO=1
BEGIN
	SET @CODIGO=CAST(@CODIGO AS VARCHAR(100))
	SET @SQL='SELECT  
		'+@CAMPOSELECAO+'
	FROM '+
		 + @TABELA + '
	WHERE '
		+ @CAMPO+' LIKE ''%'+@CODIGO+'%'' AND DELETED=''N'''
END

IF @OPERACAO=2
BEGIN
	SET @CODIGO=CAST(@CODIGO AS DATETIME)
	SET @SQL='SELECT  
		'+@CAMPOSELECAO+'
	FROM '+
		 + @TABELA + '
	WHERE '
		+ @CAMPO+'='''+@CODIGO+''' AND Deleted=0'
END

IF @OPERACAO=3
BEGIN
	
	SET @SQL='SELECT  
		'+@CAMPOSELECAO+' 
	FROM '+
		 + @TABELA + ' WHERE Deleted=0 
		 AND '+ @CAMPO +'='+@CODIGO+''
END

IF @OPERACAO=9
BEGIN
	SET @SQL='SELECT  
		'+@CAMPOSELECAO+'
	FROM '+
		 + @TABELA + ' WHERE DELETED=''N'''
	
END
-------------------------------------------------------------------
--				OPÇÃO  10 ,11, 12 SOMENTE PARA A GRADE DE PESAGEM		-------
-------------------------------------------------------------------

IF @OPERACAO=10
BEGIN
	SET @SQL='SELECT 
	T1.ID AS [CÓDIGO],
	T2.NOME [EMISSORA,                              ],
	T1.PONTOS_AUDIENCIA,
	T1.DATA_HORA_AUDIENCIA
FROM AUDIENCIA AS T1 
	LEFT JOIN EMISSORAS AS T2 ON 
	T1.ID_EMISSORA_AUDIENCIA=T2.ID
WHERE 
	T1.DELETED=''N'''
	+ @CODIGO + '
ORDER BY
	T1.ID DESC'
END

IF @OPERACAO=11
BEGIN
	SET @SQL='SELECT 
	ID_PESAGEM AS [CÓDIGO],
	DATA_ENTRADA AS [DATA ENTRADA   ],
	PLACA [PLACA VEICULO],
	T2.NOME AS [CLIENTE \ FORNECEDOR       ],
	T4.DESCRICAO [PRODUTO     ],
	CAST (T1.PESO_LIQ AS NUMERIC(18,0))[PESO      ],
	CASE WHEN FLAG=''I'' THEN
	''EM PROCESSO ''
	WHEN FLAG=''II'' THEN
	''FINALIZADO''
	WHEN Flag=''C'' THEN
	''CANCELADO''
	END
	AS [STATUS          ]
FROM PESAGENS AS T1
	LEFT JOIN CLIFORN AS T2 ON
	T1.ID_CLIFOR=T2.ID_CLIFORN
	LEFT JOIN TRANSPORTADORA AS T3 ON
	T1.ID_TRANSPORTADORA=T3.ID_TRANSPORTADORA
	LEFT JOIN PRODUTOS AS T4 ON
	T1.ID_PRODUTO=T4.ID_PRODUTO 
	LEFT JOIN LOCALIZACAO T5 ON 
	T5.ID_LOCALIZACAO=T1.ORIGEM
	LEFT JOIN LOCALIZACAO T6 ON 
	T6.ID_LOCALIZACAO=T1.DESTINO
WHERE '
	+ @CAMPO+'='''+@CODIGO+'''
	AND T1.DELETED=''0''
ORDER BY
	ID_PESAGEM DESC'
END

IF @OPERACAO=12
BEGIN
	SET @SQL='SELECT 
	ID_PESAGEM AS [CÓDIGO],
	DATA_ENTRADA AS [DATA ENTRADA   ],
	PLACA [PLACA VEICULO],
	T2.NOME AS [CLIENTE \ FORNECEDOR       ],
	T4.DESCRICAO [PRODUTO     ],
	CAST (T1.PESO_E AS NUMERIC(18,0))[PESO ENTRADA],
	CASE WHEN FLAG=''I'' THEN
	''EM PROCESSO ''
	WHEN FLAG=''II'' THEN
	''FINALIZADO''
	WHEN Flag=''C'' THEN
	''CANCELADO''
	END
	AS [STATUS          ]
FROM PESAGENS AS T1
	LEFT JOIN CLIFORN AS T2 ON
	T1.ID_CLIFOR=T2.ID_CLIFORN
	LEFT JOIN TRANSPORTADORA AS T3 ON
	T1.ID_TRANSPORTADORA=T3.ID_TRANSPORTADORA
	LEFT JOIN PRODUTOS AS T4 ON
	T1.ID_PRODUTO=T4.ID_PRODUTO 
    LEFT JOIN LOCALIZACAO T5 ON 
	T5.ID_LOCALIZACAO=T1.ORIGEM
	LEFT JOIN LOCALIZACAO T6 ON 
	T6.ID_LOCALIZACAO=T1.DESTINO
WHERE '
	+ @CAMPO+' LIKE ''%'+@CODIGO+'%''
	AND T1.DELETED=''0''
ORDER BY
	ID_PESAGEM DESC'
END

IF @OPERACAO=13
BEGIN
	SET @SQL='SELECT 
	ID_PESAGEM AS [CÓDIGO],
	DATA_ENTRADA AS [DATA ENTRADA  ],
	PLACA [PLACA  ],
	T2.NOME AS [CLIENTE\FORNECEDOR       ],
	T4.DESCRICAO [PRODUTO        ],
	CAST (T1.PESO_E AS NUMERIC(18,0))[PESO ENTRADA],
	CASE WHEN FLAG=''I'' THEN
	''EM PROCESSO ''
	WHEN FLAG=''II'' THEN
	''FINALIZADO''
	WHEN Flag=''C'' THEN
	''CANCELADO''
	END
	AS [STATUS    ]
FROM PESAGENS AS T1
	LEFT JOIN CLIFORN AS T2 ON
	T1.ID_CLIFOR=T2.ID_CLIFORN
	LEFT JOIN TRANSPORTADORA AS T3 ON
	T1.ID_TRANSPORTADORA=T3.ID_TRANSPORTADORA
	LEFT JOIN PRODUTOS AS T4 ON
	T1.ID_PRODUTO=T4.ID_PRODUTO 
	LEFT JOIN LOCALIZACAO T5 ON 
	T5.ID_LOCALIZACAO=T1.ORIGEM
	LEFT JOIN LOCALIZACAO T6 ON 
	T6.ID_LOCALIZACAO=T1.DESTINO
	LEFT JOIN TURNOS T7 ON
	T7.ID_TURNO=T1.ID_TURNO
WHERE 
	PENDENTE IN(0,1) '
	+ @CODIGO +  ' 
	--AND CANCELADA=0 
	AND T1.DELETED=''0''
ORDER BY
	ID_PESAGEM DESC'
END

-- SOMENTE PARA APARECER AS COLUNAS
IF @OPERACAO=14
BEGIN
	SET @SQL='SELECT  
		'+@CAMPOSELECAO+'
	FROM '+
		 + @TABELA + ' WHERE DELETED=1 AND ISNULL(DATA_DELETED,0)=0'
		
END

-- SOMENTE PARA TABELA DE EIXO SOMENTE ENTRADA 
IF @OPERACAO=15
BEGIN
	SET @SQL='SELECT  
		'+@CAMPOSELECAO+'
	FROM '+
		 + @TABELA + ' WHERE ID_PESAGEM='''+@CODIGO+ '''
		  AND OPERACAO=''ENTRADA'' AND DELETED=0'
	
END

-- SOMENTE PARA TABELA DE EIXO SOMENTE SAIDA 
IF @OPERACAO=16
BEGIN
	SET @SQL='SELECT  
		'+@CAMPOSELECAO+'
	FROM '+
		 + @TABELA + ' WHERE ID_PESAGEM='''+@CODIGO+ '''
		  AND OPERACAO=''SAIDA'' AND DELETED=0'
	
END

-- SOMENTE PARA A GRADE DE USUARIOS 
IF @OPERACAO=17
BEGIN
	SET @SQL='SELECT DISTINCT 
		'+@CAMPOSELECAO+'
	FROM '+
		 + @TABELA + '
		 AND T1.DELETED=0'
		
END
-- SOMENTE PARA A GRADE DE USUARIOS 
IF @OPERACAO=18
BEGIN
	SET @SQL='SELECT  
		'+@CAMPOSELECAO+'
	FROM '+
		 + @TABELA + ' WHERE ID_USUARIO='''+@CODIGO+ '''
		 AND T1.DELETED=0'
END

IF @OPERACAO=19
BEGIN
	SET @SQL='SELECT  
		'+@CAMPOSELECAO+'
	FROM '+
		 + @TABELA + ' WHERE NOME LIKE ''%'+@CODIGO+'%'' 
		 AND T1.DELETED=0'
END

-- SOMENTE PARA CLIENTE ACERLORMITTAL ----------
IF @OPERACAO=20
BEGIN
	SET @SQL='SELECT 
	ID_PESAGEM AS [CÓDIGO],
	PlacaCarreta AS [PLACA CARRETA],
	NumTransp [NR.TRANSPONDER],
	DtHPreEntrada AS [DATA ENTRADA],
	CampoUsu1 AS [CAMPO CONTROLE MES],
	PesoInicial AS [PESO INICIAL],
	BalPesoInicial AS [BALANCA],
FROM PESAGENS  
	LEFT JOIN 
WHERE 
	ISNULL(TRP_E,'''')=''''
	AND 
	CANCELADA=0
ORDER BY
	ID_PESAGEM DESC'

END

IF @OPERACAO=21
BEGIN
	SET @SQL='SELECT 
	ID_PESAGEM AS [CÓDIGO],
	DATA_ENTRADA AS [DATA ENTRADA   ],
	PLACA [PLACA VEICULO],
	T2.NOME AS [CLIENTE \ FORNECEDOR       ],
	T4.DESCRICAO [PRODUTO     ],
	CAST (T1.PESO_E AS NUMERIC(18,0))[PESO ENTRADA],
		CASE WHEN FLAG=''I'' THEN
	''EM PROCESSO ''
	WHEN FLAG=''II'' THEN
	''FINALIZADO''
	WHEN Flag=''C'' THEN
	''CANCELADO''
	END
	AS [STATUS          ]
FROM PESAGENS AS T1
	LEFT JOIN CLIFORN AS T2 ON
	T1.ID_CLIFOR=T2.ID_CLIFORN
	LEFT JOIN TRANSPORTADORA AS T3 ON
	T1.ID_TRANSPORTADORA=T3.ID_TRANSPORTADORA
	LEFT JOIN PRODUTOS AS T4 ON
	T1.ID_PRODUTO=T4.ID_PRODUTO 
	LEFT JOIN LOCALIZACAO T5 ON 
	T5.ID_LOCALIZACAO=T1.ORIGEM
	LEFT JOIN LOCALIZACAO T6 ON 
	T6.ID_LOCALIZACAO=T1.DESTINO
	LEFT JOIN TURNOS T7 ON
	T7.ID_TURNO=T1.ID_TURNO	
WHERE '
	+ @CAMPO+'='''+@CODIGO+'''
ORDER BY
	ID_PESAGEM DESC'
END

IF @OPERACAO=22
BEGIN
	SET @SQL='SELECT 
	ID_PESAGEM AS [CÓDIGO],
	DATA_ENTRADA AS [DATA ENTRADA   ],
	PLACA [PLACA VEICULO],
	T2.NOME AS [CLIENTE \ FORNECEDOR       ],
	T4.DESCRICAO [PRODUTO     ],
	CAST (T1.PESO_E AS NUMERIC(18,0))[PESO ENTRADA],
	CASE WHEN FLAG=''I'' THEN
	''EM PROCESSO ''
	WHEN FLAG=''II'' THEN
	''FINALIZADO''
	WHEN Flag=''C'' THEN
	''CANCELADO''
	END
	AS [STATUS          ]
FROM PESAGENS AS T1
	LEFT JOIN CLIFORN AS T2 ON
	T1.ID_CLIFOR=T2.ID_CLIFORN
	LEFT JOIN TRANSPORTADORA AS T3 ON
	T1.ID_TRANSPORTADORA=T3.ID_TRANSPORTADORA
	LEFT JOIN PRODUTOS AS T4 ON
	T1.ID_PRODUTO=T4.ID_PRODUTO 
	LEFT JOIN LOCALIZACAO T5 ON 
	T5.ID_LOCALIZACAO=T1.ORIGEM
	LEFT JOIN LOCALIZACAO T6 ON 
	T6.ID_LOCALIZACAO=T1.DESTINO
	LEFT JOIN TURNOS T7 ON
	T7.ID_TURNO=T1.ID_TURNO
WHERE '
	+ @CAMPO+' LIKE ''%'+@CODIGO+'%''
	AND T1.DELETED=''0''
ORDER BY
	ID_PESAGEM DESC'
END

IF @OPERACAO=23
BEGIN
	SET @SQL='SELECT  
		'+@CAMPOSELECAO+'
	FROM '+
		 + @TABELA + ' WHERE T1.DELETED=0  '
	
END

IF @OPERACAO=24
BEGIN
	SET @CODIGO=CAST(@CODIGO AS NUMERIC(18,0))
	SET @SQL='SELECT  
		'+@CAMPOSELECAO+'
	FROM '+
		 + @TABELA + '
	WHERE '
		+ @CAMPO+'='+@CODIGO+' AND T1.DELETED=0 '
END


IF @OPERACAO=25
BEGIN
	SET @CODIGO=CAST(@CODIGO AS VARCHAR(100))
	SET @SQL='SELECT  
		'+@CAMPOSELECAO+'
	FROM '+
		 + @TABELA + '
	WHERE '
		+ @CAMPO+' LIKE ''%'+@CODIGO+'%'' AND T1.DELETED=0  '
END
----------------------------------------------
---- 26	PARA FERROUS GRADE DE MOVIMENTACAO ---
----------------------------------------------
IF @OPERACAO=26
BEGIN
	SET @SQL='SELECT
	ID_MOVIMENTACAO [CODIGO],
	T1.DESCRICAO [ORIGEM            ],
	T2.DESCRICAO [DESTINO           ],
	T3.DESCRICAO [PRODUTOS			],
	T4.NOME [CLIENTE                ],
	T5.NOME [MINA                   ] 
FROM
	MOVIMENTACAO T0 
	LEFT JOIN LOCALIZACAO T1 ON
	T1.ID_LOCALIZACAO=ID_ORIGEM
	LEFT JOIN LOCALIZACAO T2 ON
	T2.ID_LOCALIZACAO=ID_DESTINO
	LEFT JOIN PRODUTOS T3 ON
	T3.ID_PRODUTO=T0.ID_PRODUTO
	LEFT JOIN CLIFORN T4 ON
	T4.ID_CLIFORN=T0.ID_CLIENTE 
	LEFT JOIN MINAS T5 ON
	T1.ID_MINA=T5.ID_MINA
WHERE T0.DELETED=''0'' AND T0.ID_MINA =2 '

END

----------------------------------------------
---- 27	PARA FERROUS GRADE DE MOVIMENTACAO ---
----------------------------------------------
IF @OPERACAO=27
BEGIN
	SET @SQL='SELECT
	ID_MOVIMENTACAO [CODIGO],
	T1.DESCRICAO [ORIGEM            ],
	T2.DESCRICAO [DESTINO           ],
	T3.DESCRICAO [PRODUTOS			],
	T4.NOME [CLIENTE                ],
	T5.NOME [MINA                   ]
FROM
	MOVIMENTACAO T0 
	LEFT JOIN LOCALIZACAO T1 ON
	T1.ID_LOCALIZACAO=ID_ORIGEM
	LEFT JOIN LOCALIZACAO T2 ON
	T2.ID_LOCALIZACAO=ID_DESTINO
	LEFT JOIN PRODUTOS T3 ON
	T3.ID_PRODUTO=T0.ID_PRODUTO
	LEFT JOIN CLIFORN T4 ON
	T4.ID_CLIFORN=T0.ID_CLIENTE
	LEFT JOIN MINAS T5 ON
	T1.ID_MINA=T5.ID_MINA
	WHERE ID_MOVIMENTACAO='+@CODIGO+' AND T0.DELETED=''0''
  '
END

----------------------------------------------
---- 28	PARA FERROUS GRADE DE MOVIMENTACAO ---
----------------------------------------------
IF @OPERACAO=28
BEGIN
	SET @SQL='SELECT
	ID_MOVIMENTACAO [CODIGO],
	T1.DESCRICAO [ORIGEM            ],
	T2.DESCRICAO [DESTINO           ],
	T3.DESCRICAO [PRODUTOS			],
	T4.NOME [CLIENTE                ],
	T5.NOME [MINA                   ]
FROM
	MOVIMENTACAO T0 
	LEFT JOIN LOCALIZACAO T1 ON
	T1.ID_LOCALIZACAO=ID_ORIGEM
	LEFT JOIN LOCALIZACAO T2 ON
	T2.ID_LOCALIZACAO=ID_DESTINO
	LEFT JOIN PRODUTOS T3 ON
	T3.ID_PRODUTO=T0.ID_PRODUTO
	LEFT JOIN CLIFORN T4 ON
	T4.ID_CLIFORN=T0.ID_CLIENTE
	LEFT JOIN MINAS T5 ON
	T1.ID_MINA=T5.ID_MINA
	WHERE T1.DESCRICAO LIKE ''%'+@CODIGO+' 
  '
END

----------------------------------------------
---- 29	PARA FERROUS GRADE DE MOVIMENTACAO ---
----------------------------------------------
IF @OPERACAO=29
BEGIN
	SET @SQL='SELECT
	ID_MOVIMENTACAO [CODIGO],
	T1.DESCRICAO [ORIGEM            ],
	T2.DESCRICAO [DESTINO           ],
	T3.DESCRICAO [PRODUTOS			],
	T4.NOME [CLIENTE                ],
	T5.NOME [MINA                   ]
FROM
	MOVIMENTACAO T0 
	LEFT JOIN LOCALIZACAO T1 ON
	T1.ID_LOCALIZACAO=ID_ORIGEM
	LEFT JOIN LOCALIZACAO T2 ON
	T2.ID_LOCALIZACAO=ID_DESTINO
	LEFT JOIN PRODUTOS T3 ON
	T3.ID_PRODUTO=T0.ID_PRODUTO
	LEFT JOIN CLIFORN T4 ON
	T4.ID_CLIFORN=T0.ID_CLIENTE
	LEFT JOIN MINAS T5 ON
	T1.ID_MINA=T5.ID_MINA
	WHERE T2.DESCRICAO LIKE ''%'+@CODIGO+' 
  '
END

--------------------------------------------------------------
---- 30 - 31 - 32 	PARA FERROUS GRADE DE VEICULO EMPRESA  ---
--------------------------------------------------------------
IF @OPERACAO=30
BEGIN

SET @SQL='
SELECT 
	T0.ID_VEICULOEMPRESA [CODIGO],
	T0.DESCRICAO  [DESCRICAO             ],
	T0.TAG [TAG       ],
	T1.DESCRICAO [TIPO VEICULO  ],
	T0.PLACA_PRINCIPAL [PLACA      ],
	T3.DESCRICAO + '' PARA '' + T4.DESCRICAO [CAMINHO               ]
FROM
	VEICULO_EMPRESA T0
	LEFT JOIN VEICULOS T1 ON
	T0.ID_VEICULO=T1.ID_VEICULO
	LEFT JOIN MOVIMENTACAO T2 ON
	T0.ID_MOVIMENTACAO=T2.ID_MOVIMENTACAO
	LEFT JOIN LOCALIZACAO T3 ON
	T2.ID_ORIGEM=T3.ID_LOCALIZACAO
	LEFT JOIN LOCALIZACAO T4 ON
	T2.ID_DESTINO=T4.ID_LOCALIZACAO 
	WHERE T0.DELETED=''0'''


END

IF @OPERACAO=31
BEGIN
SET @SQL='
SELECT 
	T0.ID_VEICULOEMPRESA [CODIGO],
	T0.DESCRICAO  [DESCRICAO             ],
	T0.TAG [TAG       ],
	T1.DESCRICAO [TIPO VEICULO  ],
	T0.PLACA_PRINCIPAL [PLACA      ],
	T3.DESCRICAO + '' PARA '' + T4.DESCRICAO [CAMINHO               ]
FROM
	VEICULO_EMPRESA T0
	LEFT JOIN VEICULOS T1 ON
	T0.ID_VEICULO=T1.ID_VEICULO
	LEFT JOIN MOVIMENTACAO T2 ON
	T0.ID_MOVIMENTACAO=T2.ID_MOVIMENTACAO
	LEFT JOIN LOCALIZACAO T3 ON
	T2.ID_ORIGEM=T3.ID_LOCALIZACAO
	LEFT JOIN LOCALIZACAO T4 ON
	T2.ID_DESTINO=T4.ID_LOCALIZACAO 
	WHERE ID_VEICULOEMPRESA='+@CODIGO+' AND T0.DELETED=''0'''
END

IF @OPERACAO=32
BEGIN
SET @SQL='
SELECT 
	T0.ID_VEICULOEMPRESA [CODIGO],
	T0.DESCRICAO  [DESCRICAO             ],
	T0.TAG [TAG       ],
	T1.DESCRICAO [TIPO VEICULO  ],
	T0.PLACA_PRINCIPAL [PLACA      ],
	T3.DESCRICAO + '' PARA '' + T4.DESCRICAO [CAMINHO               ]
FROM
	VEICULO_EMPRESA T0
	LEFT JOIN VEICULOS T1 ON
	T0.ID_VEICULO=T1.ID_VEICULO
	LEFT JOIN MOVIMENTACAO T2 ON
	T0.ID_MOVIMENTACAO=T2.ID_MOVIMENTACAO
	LEFT JOIN LOCALIZACAO T3 ON
	T2.ID_ORIGEM=T3.ID_LOCALIZACAO
	LEFT JOIN LOCALIZACAO T4 ON
	T2.ID_DESTINO=T4.ID_LOCALIZACAO 
	WHERE T0.PLACA_PRINCIPAL LIKE ''%'+@CODIGO+'%'' AND T0.DELETED=''0'''
END

IF @OPERACAO=33
BEGIN
SET @SQL='
SELECT 
	T0.ID_VEICULOEMPRESA [CODIGO],
	T0.DESCRICAO  [DESCRICAO             ],
	T0.TAG [TAG       ],
	T0.PLACA_PRINCIPAL [PLACA      ],
	T3.DESCRICAO + '' PARA '' + T4.DESCRICAO [CAMINHO                           ]
FROM
	VEICULO_EMPRESA T0
	LEFT JOIN VEICULOS T1 ON
	T0.ID_VEICULO=T1.ID_VEICULO
	LEFT JOIN MOVIMENTACAO T2 ON
	T0.ID_MOVIMENTACAO=T2.ID_MOVIMENTACAO
	LEFT JOIN LOCALIZACAO T3 ON
	T2.ID_ORIGEM=T3.ID_LOCALIZACAO
	LEFT JOIN LOCALIZACAO T4 ON
	T2.ID_DESTINO=T4.ID_LOCALIZACAO 
	WHERE T0.DELETED=''0'''
END

IF @OPERACAO=34
BEGIN
SET @SQL='
SELECT 
	T0.ID_VEICULOEMPRESA [CODIGO],
	T0.DESCRICAO  [DESCRICAO             ],
	T0.TAG [TAG       ],
	T0.PLACA_PRINCIPAL [PLACA      ],
	T3.DESCRICAO + '' PARA '' + T4.DESCRICAO [CAMINHO                           ]
FROM
	VEICULO_EMPRESA T0
	LEFT JOIN VEICULOS T1 ON
	T0.ID_VEICULO=T1.ID_VEICULO
	LEFT JOIN MOVIMENTACAO T2 ON
	T0.ID_MOVIMENTACAO=T2.ID_MOVIMENTACAO
	LEFT JOIN LOCALIZACAO T3 ON
	T2.ID_ORIGEM=T3.ID_LOCALIZACAO
	LEFT JOIN LOCALIZACAO T4 ON
	T2.ID_DESTINO=T4.ID_LOCALIZACAO 
	WHERE ID_VEICULOEMPRESA='+@CODIGO+' AND T0.DELETED=''0'''
END

IF @OPERACAO=35
BEGIN
SET @SQL='
SELECT 
	T0.ID_VEICULOEMPRESA [CODIGO],
	T0.DESCRICAO  [DESCRICAO             ],
	T0.TAG [TAG       ],
	T0.PLACA_PRINCIPAL [PLACA      ],
	T3.DESCRICAO + '' PARA '' + T4.DESCRICAO [CAMINHO                           ]
FROM
	VEICULO_EMPRESA T0
	LEFT JOIN VEICULOS T1 ON
	T0.ID_VEICULO=T1.ID_VEICULO
	LEFT JOIN MOVIMENTACAO T2 ON
	T0.ID_MOVIMENTACAO=T2.ID_MOVIMENTACAO
	LEFT JOIN LOCALIZACAO T3 ON
	T2.ID_ORIGEM=T3.ID_LOCALIZACAO
	LEFT JOIN LOCALIZACAO T4 ON
	T2.ID_DESTINO=T4.ID_LOCALIZACAO 
	WHERE T0.PLACA_PRINCIPAL LIKE ''%'+@CODIGO+'%'' AND T0.DELETED=''0'''
END

IF @OPERACAO=36
BEGIN
SET @SQL='
SELECT 
	NRLINHA,
	RECUO1,
	CAMPO1,
	RECUO2,
	CAMPO2,
	RECUO3,
	CAMPO3,
	TIPOLINHA,
	ID_FORMULARIO	
FROM 
	dbo.FORMATO_FORMULARIO_IMP
	WHERE ID_FORMULARIO='+@CODIGO+' AND DELETED=''0'''

END

IF @OPERACAO=37
BEGIN
SET @SQL='
SELECT 
	TIPOLINHA,
	RECUO1,
	CAMPO1,
	RECUO2,
	CAMPO2,
	RECUO3,
	CAMPO3,
	TIPOLINHA,
	ID_FORMULARIO	
FROM 
	dbo.FORMATO_FORMULARIO_IMP
	WHERE ID_FORMULARIO='+@CODIGO+' AND DELETED=''0'' ORDER BY ID_IMPRESSAOPOS '
	
END

IF @OPERACAO=38
BEGIN
	SET @SQL='SELECT
	ID_MOVIMENTACAO [CODIGO],
	T1.DESCRICAO [ORIGEM            ],
	T2.DESCRICAO [DESTINO           ],
	T3.DESCRICAO [PRODUTOS			],
	T4.NOME [CLIENTE                ],
	T5.NOME [MINA                   ]
FROM
	MOVIMENTACAO T0 
	LEFT JOIN LOCALIZACAO T1 ON
	T1.ID_LOCALIZACAO=ID_ORIGEM
	LEFT JOIN LOCALIZACAO T2 ON
	T2.ID_LOCALIZACAO=ID_DESTINO
	LEFT JOIN PRODUTOS T3 ON
	T3.ID_PRODUTO=T0.ID_PRODUTO
	LEFT JOIN CLIFORN T4 ON
	T4.ID_CLIFORN=T0.ID_CLIENTE
	LEFT JOIN MINAS T5 ON
	T1.ID_MINA=T5.ID_MINA
	WHERE T5.NOME LIKE ''%'+@CODIGO+' 
  '
END

IF @OPERACAO=39
BEGIN
	SET @SQL='SELECT  
		'+@CAMPOSELECAO+'
	FROM '+
		 + @TABELA + ' WHERE T1.DELETED=0'
	
END


IF @OPERACAO=40
BEGIN
	
	SET @SQL='SELECT  
		'+@CAMPOSELECAO+' 
	FROM '+
		 + @TABELA + ' WHERE T1.Deleted=0 
		 AND '+ @CAMPO +'='+@CODIGO+''
END

IF @OPERACAO=41
BEGIN

	SELECT MAX(ID_PESAGEM) FROM PESAGENS
	WHERE LEN(ID_PESAGEM)<9 AND BALANCA_E=@CODIGO

END
IF @OPERACAO=42
BEGIN
	SET @SQL='SELECT DISTINCT 
		'+@CAMPOSELECAO+'
	FROM '+
		 + @TABELA + '
		 WHERE T1.DELETED=0'
	
END

IF @OPERACAO=43
BEGIN
	SET @SQL='SELECT  
		'+@CAMPOSELECAO+'
	FROM '+
		 + @TABELA + ' WHERE ID_USUARIO_MOVEL='''+@CODIGO+ '''
		 AND T1.DELETED=0'
END

IF @OPERACAO=44
BEGIN
	SET @SQL='SELECT 
	ID_PESAGEM AS [CÓDIGO],
	DATA_ENTRADA AS [DATA ENTRADA   ],
	PLACA [PLACA VEICULO],
	T2.NOME AS [CLIENTE \ FORNECEDOR       ],
	T4.DESCRICAO [PRODUTO     ],
	CAST(T1.PESO_E AS NUMERIC(18,0)) AS [PESO ENTRADA],
	CASE WHEN FLAG=''I'' THEN
	''EM PROCESSO ''
	WHEN FLAG=''II'' THEN
	''FINALIZADO''
	WHEN Flag=''C'' THEN
	''CANCELADO''
	END
	AS [STATUS          ]
FROM PESAGENS AS T1
	LEFT JOIN CLIFORN AS T2 ON
	T1.ID_CLIFOR=T2.ID_CLIFORN
	LEFT JOIN TRANSPORTADORA AS T3 ON
	T1.ID_TRANSPORTADORA=T3.ID_TRANSPORTADORA
	LEFT JOIN PRODUTOS AS T4 ON
	T1.ID_PRODUTO=T4.ID_PRODUTO 
	LEFT JOIN LOCALIZACAO T5 ON 
	T5.ID_LOCALIZACAO=T1.ORIGEM
	LEFT JOIN LOCALIZACAO T6 ON 
	T6.ID_LOCALIZACAO=T1.DESTINO
	LEFT JOIN TURNOS T7 ON
	T7.ID_TURNO=T1.ID_TURNO
WHERE '
	+@CODIGO+'
	AND T1.DELETED=''0''
ORDER BY
	ID_PESAGEM DESC'
END


IF @OPERACAO=45
BEGIN
	SET @SQL='SELECT  
		'+@CAMPOSELECAO+'
	FROM '+
		 + @TABELA + ' ' + @CODIGO + '' 
	
END

PRINT @SQL




EXEC(@SQL)
SET NOCOUNT OFF


GO
/****** Object:  StoredProcedure [dbo].[SPR_REL_AUDIENCIA]    Script Date: 06/04/2021 13:45:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[SPR_REL_AUDIENCIA] 
			    @OPERACAO AS INT,
				@DATAINI AS VARCHAR(10),
				@DATAFIM AS VARCHAR(10)
						
				
AS
DECLARE @SQL VARCHAR(8000)


SET NOCOUNT ON
-- FILTRO DATA / SOMA	
IF @OPERACAO=1 BEGIN 	
   SELECT 
		T1.ID,
		T2.NOME,
		T1.DATA_HORA_AUDIENCIA,
		SUM(T1.PONTOS_AUDIENCIA) as [PONTO_AUDIENCIA]
	FROM AUDIENCIA T1
		LEFT JOIN EMISSORAS T2 ON
		T2.ID=T1.ID_EMISSORA_AUDIENCIA
	WHERE
		DATA_HORA_AUDIENCIA BETWEEN @DATAINI AND  @DATAFIM
	GROUP BY
		T1.ID,
		DATA_HORA_AUDIENCIA,
		T2.NOME
END
			
-- FILTRO DE DATA MEDIA
IF @OPERACAO=2 BEGIN 	
   SELECT 
		T1.ID,
		T2.NOME,
		T1.DATA_HORA_AUDIENCIA,
		AVG(T1.PONTOS_AUDIENCIA) as [PONTO_AUDIENCIA]
	FROM AUDIENCIA T1
		LEFT JOIN EMISSORAS T2 ON
		T2.ID=T1.ID_EMISSORA_AUDIENCIA
	WHERE
		DATA_HORA_AUDIENCIA BETWEEN @DATAINI AND @DATAFIM
	GROUP BY
		T1.ID,
		T1.DATA_HORA_AUDIENCIA,
		T2.NOME
END




SET NOCOUNT OFF

GO
